@model appWeb1._2.Models.Trabajo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trabajo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulotrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulotrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreempresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreempresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipotrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipotrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechapublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechapublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivelexperiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivelexperiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sectorlaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sectorlaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipocontrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipocontrato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idtrabajo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
