@model IEnumerable<appWeb1._2.Models.Trabajo>

@{
    ViewData["Title"] = "Index";

}


<!--filtros-->

 <form asp-action="filtrarDatos">
    <div class="form-group row mb-4">
       
        <!--Nivel de experincia-->
        <div class="col-sm-2">
            @Html.Label("lblexpe","Nivel de experiencia")
            @Html.DropDownList("nivelexperiencia", ViewData["nivelexp"] as SelectList, "Seleccione nivel de experiencia...", new {@class="form-control"})
            @Html.Label("lblslab","Sector laboral")
            @Html.DropDownList("sectorlaboral", ViewData["sectorlab"] as SelectList, "Seleccione un sector...", new {@class="form-control"})
            @Html.Label("lbltcontra","Tipo de Contrato")
            @Html.DropDownList("tipocontrato", ViewData["tContrato"] as SelectList, "Seleccione un tipo de contrato...", new {@class="form-control"})
        </div>
        <div class="col-sm-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titulo del trabajo</th>
                        <th>Nombre de empresa</th>
                        <th>Ubicacion</th>
                        <th>Tipo de trabajo</th>
                        <th>Fecha de publicacion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listado in (IEnumerable<dynamic>)ViewData["listadodatos"])
                    {
                        <tr>
                            <td>@listado.titulotrabajo</td>
                            <td>@listado.nombreempresa</td>
                            <td>@listado.ubicacion</td>
                            <td>@listado.trabajo</td>
                            <td>@listado.fecha</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="col-sm-3">
            @Html.Label("lblubicacion","Ubicacion")
            @Html.DropDownList("ubicacion", ViewData["ubica"] as SelectList, "Seleccione un ubicacion...", new {@class="form-control"})
            @Html.Label("lbltTrabjo","Tipo de Trabajo")
            @Html.DropDownList("tipotrabajo", ViewData["tipoTrabajo"] as SelectList, "Seleccione un trabajo...", new {@class="form-control"})
            @Html.Label("lblsala","Salario")
            @Html.DropDownList("salario", ViewData["salari"] as SelectList, "Seleccione un salario...", new {@class="form-control"})
        </div>
    </div>        
    <button type="submit" class="btn btn-success" >Filtrar</button>

</form>

<h1>Metricas de empresa</h1>
<div class="container">
        <div class="col row row-cols-auto top-20">
            <div class="col top-40"> <h3>Usuarios</h3> </div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>

            <div class="col row row-cols-auto top-20">
            <div class="col top-40"> <h3>Empleos</h3> </div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            </div>

            <div class="col row row-cols-auto top-20">
            <div class="col top-40"> <h3>Recepcion de empleos</h3> </div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            <div class="col p-3 mb-2 bg-white text-black">0</div>
            </div>
        </div>
    </div>

